{% extends "publish/base.html" %}

{% block head %}
  <title>Publish home page</title>
{% endblock %}

{% block body %}
  <h1>Get claim list.</h1> 
  <form action="" method="get">
    <input type="text" id="name" name="name"  placeholder="Search for names.." title="Type in a name" style="width: 300px;">
    <button style="width: 100px;" type="submit">Search</button> 
  </form>   
    <table>
      <tr>
        <th>id</th>
        <th>ssn</th>
        <th>name</th>
        <th>email</th>
        <th>phone</th>
        <th>doctor</th>
        <th>date</th>
        
      </tr>
      {% for claim in claims %}
        <tr>
          <td>{{ claim.id }}</td>
          <td>{{ claim.ssn_id }}</td>
          <td>{{ claim.ssn.name }}</td>
          <td>{{ claim.ssn.email }}</td>
          <td>{{ claim.ssn.phone }}</td>
          <td>{{ claim.doctor_id.name }}</td>
          <td>{{ claim.pub_date }}</td>
        </tr>
      {% endfor %}
    </table>
    <button onclick="document.location='logout'" style="width: 100px; background-color: red;">Log out</button> 
{% endblock %}
 
