{% extends "publish/base.html" %}

{% block head %}
  <title>Sign up Form</title>
{% endblock %}

{% block body %}
<div class="content" style="max-width: 400px; margin: auto;">
  <h2>Sign up Form</h2>

  <form action="" method="post">
    {% csrf_token %} 
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <button type="submit">Sign up</button>
    </div> 
  </form>
  <p style="text-align: center;">or</p> 
  <div class="container" style="background-color:#f1f1f1">
    <button onclick="document.location='/'">Cancel</button>
  </div>
  {% if error_message %}
  <p style="text-align: center; color: red;">{{error_message}}</p> 
  {% endif %}
</div>
{% endblock %}
 
